<div class="form-gender">
    <p style="font-size: 12px; margin-top: -16px;">Gender:</p> 

    <label style="font-size: 15px" for="Male">Male</label>
    <input type="radio" id="Male" name="gender" value="Male">
                
            <label style="font-size: 15px; " for="Female">Female</label>     
            <input type="radio" id="Female" name="gender" value="Female">

    <div style="font-size: 15px" class="text-danger"> {{data1.genderError}} </div>
    <box-icon name='error-circle' ></box-icon>
</div>